.container {
  display: flex;

  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 30px;

  gap: 20px;

  overflow-x: scroll;
  overflow-y: hidden;
}
  
.container iframe {
  border-radius: 10px;
  border: 2px solid rgb(72, 72, 72);

  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.container iframe:hover {
  opacity: 1;
}